body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
	border: 1px solid black;
    line-height: 50px;
    background-color: #000000;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 10px;
    
}

header li {
    margin-left: 10px;
    padding: 10px;
}

header li:hover {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
}

section {
    height: 100vh;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
	color: rgb(255, 255, 255);
    
    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}

#hero .profile-img {
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 50%;
}

footer {
    text-align: center;
    color: #eee;
    padding: 50px;
    background-color: #000000;
}

#hero h1 {
    font-size: 4em;
     color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 1px 1px 2px black;
}

section h2 {
    font-size: 3.5em;
    padding: 0px;
}

section h3 {
    font-size: 2.5em;
}


header a {
    text-decoration: none;
	font-size: 1.5em;
    color: #ffffff;
    border-color: blueviolet;
    border-width: 3px;
}

/* Add everything below here */

#hero {
    background-image: url('../images/Index.jpg');
	text-shadow: black -1px -1px;
}

#about {
    background-image: url('../images/Background.png');
	text-shadow: black -1px -1px;
    text-align: center;
}

#contact {
    background-image: url('../images/Background.png');
	text-shadow: black -1px -1px;
}

#projects {
    background-image: url('../images/Background.png');
	text-shadow: black -1px -1px;
}
#inner-section p {
    color: yellow;
    text-shadow: black -1px -1px;
}

.Email{
  border: none;
  background-color: inherit;
  padding: 5px 10px;
  font-size: inherit;
  font-family: inherit;
  color: rgb(95, 95, 182);
  cursor: pointer;
  display: inline-block;
  border-radius: 12px;
}

.Email:hover {background: #eee;}

#contacts {
  list-style-type: none;
  padding-left: 0;
}

#contacts a{
    color: rgb(255, 255, 255);
}
#contacts a:hover{
    color: rgb(95, 95, 182);
}


#contacts li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}

#contacts .github::before{
      background-image: url(../images/github.png);
}

#contacts .LinkedIn::before{
      background-image: url(../images/LinkedIn.png);
}

#Skills {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 0px;
    list-style-type: none;
}

#Skills li::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}

#Skills .Python::before{
        background-image: url(../images/Python.png);
}

#Python {
    list-style-type: none;
}
#Python li::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}

#Python .Tensorflow::before{
        background-image: url(../images/Tensorflow.png);
}

#Python .Scikit::before{
        background-image: url(../images/Scikit.png);
}

#Skills .C::before{
        background-image: url(../images/C.png);
}

#Skills .Java::before{
        background-image: url(../images/Java.png);
}

#Skills .Web::before{
        background-image: url(../images/Web.png);
}

#Skills .Comp::before{
        border-radius: 50%;
        background-image: url(../images/Comp.png);
}

#Education {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 0px;
    list-style-type: none;
}
#Education li::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}

#Education .Humber::before{
        border-radius: 50%;
        background-image: url(../images/HumberLogoBG.jpg);
}

#WorkExp {
    width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 0px;
    list-style-type: none;
}

#WorkExp li::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}

#WorkExp .Tenecom::before{
    background-image: url(../images/Tenecom.png);
}